.c-nav__search-input {
    border-radius: 5px;
    width: 145px;
    height: 21px;
    margin: 8px 3px 7px 8px;
    background-color: #ededed;
    border: none;
    box-shadow: inset 0px 1px 3px 0px rgba(8, 9, 9, 0.1); 
    padding: 8px;
    font-size: 10px;
}