.c-sidebar__stats-item {
    background-color: #535b5d;
    border-top: 1px solid #646b6d;
    border-bottom: 1px solid #4b5254;
    color: #fff;
    padding: 5px 10px;
    span {
        color: #aab5c0;
    }
}